/* body {
  background-color: #192b30;
} */

/* .partners div {
  background-color: white;
} */

 .highlight_quote blockquote {
  background-color: rgba(0, 0, 0, 0.6);
  color: white;
}

/*
.highlight_slide h2 {
  background-color: rgba(0, 0, 0, 0.6);
  color: white;
}

.reveal pre code {
  background: white;
} */

.reveal section img {
  background: white;
}

.background_title h2{
  background-color: rgba(0, 0, 0, 0.6);
  color: white;
}
